# Ignore node_modules directory
frontend/node_modules

# Ignore build directory
frontend/build
backend/target

# Ignore .env file
frontend/.env
backend/.env

# Ignore junk files of react project
frontend/.DS_Store
frontend/.vscode

backend/.idea
backend/.gcloudignore
backend/.app.yaml
